{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    <h2>{% trans 'Alert' %}</h2>
    <form method="post">
        {% csrf_token %}
        <p class="text-muted my-4">
            {% trans 'are you sure to delete' %} {{project.title}}?
            <!-- fi 9aweleb django nasta3mel project 3iwadhan 3an Project alati hya to3ado kitaba
            5asa bil classet fi python ama fi django naktob project-->
        </p>
        <input class="btn btn-danger" type="submit" value="{% trans 'Delete'%}">
    </form>
{% endblock %}